
#-------- IGNORE ENTIRE FOLDERS ----------
.idea/
**/.idea/
**/__pycache__/
**/shelf/
**/workspace.xml
**/.ipynb_checkpoints/


#-------- SPECIFIC OS FILES ----------
.DS_Store
Thumbs.db


#-------- SPECIFIC USER FILES ----------
.ipynb_checkpoints
*.pkl
*.zip


#-------- IGNORE ENTIRE FOLDERS ----------
**/data/sec-edgar*/
**/data/row_data_index/
**/data/sentiment_analysis/

**/data/sec-edgar*/

# Should not be required anymore
**/data/sec-edgar-filings/
**/data/sec-edgar-filings-cleaned/
