/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

data/**
/.idea/

.DS_Store
Thumbs.db

data/row_data_index
data/sec-edgar-filings
resources/
